data/0.pt
data/1.pt
data/2.pt
data/3.pt
data/data.pt
wandb
runs
data
__pycache__/dataset.cpython-38.pyc
__pycache__/model.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
data.zip
.fr-jR4ym2/zieIbEPi
l.py
mydir.zip
